.logo-img {
    width: 10rem;
    height: 3rem;
}

.user-img {
    width: 3rem;
    height: 3rem;
}

.doctor-gradient {
    background: linear-gradient(184deg, #71bfff3b, transparent);
}

.clinic-gradient {
    background: linear-gradient(184deg, #b7d3ee96, transparent);
}

.hospital-gradient {
    background: linear-gradient(184deg, #e2efff, transparent);
}

.sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 3;
}

.promo-card {
    background-color: #1a232b;
    color: white;
}

.promo-card-img {
    max-width: 130px;
    height: 130px;
}