.logo-img {
    width: 10rem;
    height: 3rem;
}

.user-img {
    width: 3rem;
    height: 3rem;
}

.doctor-gradient {
    background: linear-gradient(184deg, #71bfff3b, transparent);
}

.sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 3;
}